# ***ESHAL*** ***KHAN***
***SP23-BCS-095***

**MATPLOTLIB**

library used for visualition of data through graphs ,etc no storage included

**NUMPY**

library for advance numerical computation

**LIST**

In [1]:
Num = [1,2,3,4,5,6,7,8,9,10]
print(Num)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

**Sum**

In [2]:
Num = [1,2,3,4,5,6,7,8,9,10]
print(sum(Num))

55

**Max**

In [3]:
Num = [1,2,3,4,5,6,7,8,9,10]

print(max(Num))

10

**Min**

In [4]:
Num = [1,2,3,4,5,6,7,8,9,10]
print(min(Num))

1

**Append**

In [5]:
Num = [1,2,3,4,5,6,7,8,9,10]
Num.append(7)
print(Num)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 7]

**Remove**

In [6]:
Num = [1,2,3,4,5,6,7,8,9,10]
Num.remove(4)
print(Num)

[1, 2, 3, 5, 6, 7, 8, 9, 10]

**Sorting**

In [7]:
Num = [1,2,3,4,5,6,7,8,9,10]
print('Ascending:',sorted(Num))
print('Descending:', sorted(Num,reverse = True))

Ascending: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Descending: [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

**TUPLE**

**creating** **a** **tuple**

In [8]:
fruits = ("apple","orange","watermelon","cherry")
print(fruits)

('apple', 'orange', 'watermelon', 'cherry')

  **Print** **second** **and** **last** **element**

In [14]:
fruits = ("apple","orange","watermelon","cherry")
print(fruits[0])
print(fruits[-1])

apple
cherry

**try** **to** **modify**

In [16]:
fruits = ("apple","orange","watermelon","cherry")
print(fruits)
fruits[3] = "pineapple"

('apple', 'orange', 'watermelon', 'cherry')

TypeError: 'tuple' object does not support item assignment

**convert the** **tuple** **into** **a** **list** **and** **modify**

In [21]:
fruits = ("apple","orange","watermelon","cherry")
fruit = list(fruits)
fruit[3] = "pineapple"

print('modified list : ',fruit)

modified list :  ['apple', 'orange', 'watermelon', 'pineapple']

**SET**

**create two set with some common and unique elements**

In [23]:
from typing import Union
setA = {1,2,3,4,5,6}
setB = {4,5,6,7}

print('Union of Sets:',setA.union(setB))
print('intersection of Sets:',setA.intersection(setB))
print('Difference of Sets:',setA.difference(setB))

Union of Sets: {1, 2, 3, 4, 5, 6, 7}
intersection of Sets: {4, 5, 6}
Difference of Sets: {1, 2, 3}

**Add a new element to a set**

In [24]:
setA = {1,2,3,4,5,6}
setA.add(9)
print(setA)

{1, 2, 3, 4, 5, 6, 9}

**Remove a element from Set**

In [25]:
setA = {1,2,3,4,5,6}
setA.remove(4)
print(setA)

{1, 2, 3, 5, 6}

**DICTIONARY**

**create a dictionary**

In [27]:
students = {'Eshal': 95 ,'Maryam' : 153 , 'Amna' : 71 }
print(students)

{'Eshal': 95, 'Maryam': 153, 'Amna': 71}

**Update** **values**

In [28]:
students = {'Eshal': 95 ,'Maryam' : 153 , 'Amna' : 71 }
students['Eshal'] = 90
print(students)

{'Eshal': 90, 'Maryam': 153, 'Amna': 71}

**try to update key**

In [32]:
students = {'Eshal': 95 ,'Eshal' : 153 , 'Eshal' : 71 }
print(students)

{'Eshal': 71}